/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#mr-user-readme ul{
	list-style-type: disc;
	padding-left: 20px;
}

#mr-user-readme ul ul {
	list-style-type: circle;
}

#mr-user-readme .importante {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 5px;
}

#mr-user-readme .importante .title {
	font-weight: bold;
}

#mr-user-readme .top-link {
	text-align: center;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 30px;
}